Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Releases/1.00/WindowsClient/DFT-WindowsClient.pak
Releases/1.20/WindowsClient/DFT-WindowsClient_0_P.pak
Releases/1.30/WindowsClient/DFT-WindowsClient_0_P.pak
