Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Releases/1.00/WindowsClient/DFT-WindowsClient.pak
Releases/1.20/WindowsClient/DFT-WindowsClient_0_P.pak
Releases/1.30/WindowsClient/DFT-WindowsClient_0_P.pak
Releases/1.70/WindowsClient/DFT-WindowsClient_0_P.pak
Releases/1.50/WindowsClient/DFT-WindowsClient_0_P.pak
Releases/1.60/WindowsClient/DFT-WindowsClient_0_P.pak
Releases/1.50/WindowsClient/DFT-WindowsClient_0_P.pak
Releases/1.60/WindowsClient/DFT-WindowsClient_0_P.pak
Releases/1.70/WindowsClient/DFT-WindowsClient_0_P.pak
*.pak
Releases/1.70/WindowsClient/DFT-WindowsClient_0_P.pak
Releases/1.70/WindowsServer/DFT-WindowsServer_0_P.pak
Releases/1.50/WindowsServer/DFT-WindowsServer_0_P.pak
Releases/1.50/WindowsServer/DFT-WindowsServer_0_P.pak
Releases/1.50/WindowsServer/DFT-WindowsServer_0_P.pak
Releases/1.60/WindowsClient/DFT-WindowsClient_0_P.pak
Releases/1.70/WindowsClient/DFT-WindowsClient_0_P.pak
Releases/1.60/WindowsClient/DFT-WindowsClient_0_P.pak
Releases/1.50/WindowsClient/DFT-WindowsClient_0_P.pak
Releases/1.50/WindowsClient/DFT-WindowsClient_0_P.pak
